################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AuthECAPI/.vs
/AuthECAPI/AuthECAPI/obj
/AuthECAPI/AuthECAPI/bin/Debug/net10.0
improvements ideas/*
/AuthECAPI/improvements ideas/server
/AuthECAPI/AuthECAPI.Tests/bin
/AuthECAPI/AuthECAPI.Tests/obj
