body {
    font-family: "Inter", sans-serif;
}

/* form validation */
.error-feedback{
    font-size:0.9rem;
    color:crimson;
    margin:0.3rem !important;
    margin-top:0.1rem !important;
}

/* Adjusting the decay time according to your original guideline */
::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 1s;
}