<div class="mb-4 h2 test-success">
  Sign up
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <input class="form-control bg-body-secondary" 
    placeholder="Full Name" formControlName="fullName">
    @if (hasDisplayableError('fullName') && form.controls.fullName.hasError('required')) {
      <div class="error-feedback">
        Please enter your full name.
      </div>
    }
  </div>
  <div class="mb-3">
    <input class="form-control bg-body-secondary" 
    placeholder="Email" formControlName="email">
    @if (hasDisplayableError('email')) {
      <div class="error-feedback">
        @if (form.controls.email.hasError('required')) {
          Please enter your email address.
        }
        @if (form.controls.email.hasError('email')) {
          Please enter a valid email address.
        }
      </div>
    }
  </div>
  <div class="mb-3">
    <input class="form-control bg-body-secondary" 
    placeholder="Password" formControlName="password" type="password">
    @if (hasDisplayableError('password')) {
      <div class="error-feedback">
        @switch (form.controls.password.errors | firstKey) {
          @case ('required') {
            <div>Please enter your password.</div>
          }
          @case ('minlength') {
            <div>At least 6 characters required.</div>
          }
          @case ('pattern') {
            <div>One or more specific character(s).</div>
          }
        }
      </div>
    }
  </div>
  <div class="mb-3">
    <input class="form-control bg-body-secondary" 
    placeholder="Confirm Password" formControlName="confirmPassword" type="password">
    @if (hasDisplayableError('confirmPassword') && form.controls.confirmPassword.hasError('passwordMismatch')) {
      <div class="error-feedback">
        Password doesn't match.
      </div>
    }
  </div>
  <div class="mt-4">
    <button type="submit" class="btn btn-success w-100 rounded-3">
      Register
    </button>
  </div>
</form>